{% extends "layout.html" %}

{% block content %}
  <img src="img/header.jpg" alt="Login Background" class="full-bg animation-pulseSlow">
  <div id="login-background">
      <!-- For best results use an image with a resolution of 2560x400 pixels (prefer a blurred image for smaller file size) -->
  </div>
  <!-- END Login Background -->

  <!-- Login Container -->
  <div id="login-container" class="animation-fadeIn">
      <!-- Login Title -->
      <div class="login-title text-center">
      <a href="/">
        <img src="/img/logo.png">
      </a>
    </div>
      <!-- END Login Title -->

      <!-- Login Block -->
      <div class="block push-bit">
          <!-- Login Form -->
      <p class="text-center">Ingresa tu <strong>nombre de usuario y contraseña</strong> para acceder.</p>
          <form action="./ajax/ajax_login.php" id="form-login" class="form-horizontal form-bordered form-control-borderless">
              <div class="form-group">
                  <div class="col-xs-12">
                      <div class="input-group">
                          <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                          <input type="text" id="login-user" name="login-user" class="form-control input-lg" placeholder="Usuario" required>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-12">
                      <div class="input-group">
                          <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                          <input type="password" id="login-pass" name="login-pass" class="form-control input-lg" placeholder="Contraseña" required>
                      </div>
                  </div>
              </div>
        
              <div class="form-group form-actions">
          <button type="submit" class="btn btn-sm btn-primary" style="margin:0 auto;display:block;"><i class="fa fa-angle-right"></i> Acceder</button>
              </div>
        
        <div id="login-div-respuesta"></div>
        
              <div class="form-group">
                  <div class="col-xs-12 text-center">
                      <!--<a href="javascript:void(0)" id="link-reminder-login"><small>¿Olvidaste la contraseña?</small></a><br>-->
                      <a href="/"><small>&larr; Volver a la página de inicio</small></a>
                  </div>
              </div>
          </form>
      
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="./js/scriptsCustom.js"></script>
      
      <script>
        $('#form-login').on('submit',function(e){
          e.preventDefault();
          loginCliente();
        });
      </script>
          
          <form action="login.php#reminder" method="post" id="form-reminder" class="form-horizontal form-bordered form-control-borderless display-none">
              <div class="form-group">
                  <div class="col-xs-12">
                      <div class="input-group">
                          <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                          <input type="text" id="reminder-email" name="reminder-email" class="form-control input-lg" placeholder="Email">
                      </div>
                  </div>
              </div>
              <div class="form-group form-actions">
                  <div class="col-xs-12 text-right">
                      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Resetear contraseña</button>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-12 text-center">
                      <small>¿Recordaste tu contraseña?</small> <a href="javascript:void(0)" id="link-reminder"><small>Login</small></a>
                  </div>
              </div>
          </form>
          <!-- END Reminder Form -->
      </div>
  </div>

{# <div class="page-header">
    <h3>Sign in</h3>
    <form class="form-horizontal" method="POST"><input type="hidden" name="_csrf" />
        <div class="form-group"><label class="col-sm-3 control-label" for="email">Email</label>
            <div class="col-sm-7">
              <input class="form-control" type="email" name="email" id="email" placeholder="Email" autofocus="autofocus" required="required" />
            </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="password">Password</label>
          <div class="col-sm-7">
            <input class="form-control" type="password" name="password" id="password" placeholder="Password" required="required" />
          </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
              <button class="col-sm-3 btn btn-primary" type="submit">
                <i class="far fa-user fa-sm"></i>Login
              </button>
              <a class="btn btn-link" href="/forgot">Forgot your password?</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7"></div>
        </div>
    </form>
  </div> #}


{% endblock %}

{% block scripts %}

{% endblock scripts %}



