 <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">About my Dream</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">
            La Viola de Papá is a dream that arose some years ago in Málaga, in southern Spain. I decided to surprise my father building a handmade viola specially for him. Putting all my creativity on it, I called it: “La Viola de Papa”. After this experience, I realized that I wanted to learn more about the traditional craft of luthier, so, I did my best with the aim of complete my knowledge and skills in the well-known “Newark School of Violin Making”, located in Newark on Trent. I did, and now, I would like to share my creations with you and if possible, make your dream come true too.
          </p>
          {# <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> #}
        </div>
      </div>
    </div>
</section>