<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">All</li>
        </ol>
    </div>
</div>

<div class="col-md-2">
    <div class="categories">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <span class="badge">10</span>All
            </a>
            <a href="#" class="list-group-item inactive">
                <span class="badge">5</span>Violin
            </a>
            <a href="#" class="list-group-item inactive">
                <span class="badge">3</span>Viola
            </a>
            <a href="#" class="list-group-item inactive">
                <span class="badge">1</span>Bandurria
            </a>
            <a href="#" class="list-group-item inactive">
                <span class="badge">1</span>Guitarra
            </a>
        </div>
    </div> 
</div>


