
<div class="col-sm-10">
    <div class="row">
        <div class="col-md-5">
            <a href="/instruments/{{instruments.id}}">
                <img class="img-responsive" src="/img/ga-alh-01_T1-150px.png" alt="">
            </a>
        </div>
        <div class="col-md-7">
            <h3><a href="/instruments/{{instruments.id}}">Guitarra Alhambra de iniciacion.</a></h3>
            by Alhambra S.A. (Muro de Alcoy, Alicante).
            <h4> Model:<span> GA-ALH</span></h4> 
            <h4>Year: 1971</h4>
            <h4>State:</<h4> <span>Presenta dos fisuras tanto en la tapa como en los aros, que han sido selladas por un luthier profesional.</span>
            <h3>Price: 40</h3>
            <p> 
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <a href="/instruments/{{instruments.id}}">
                <img class="img-responsive" src="/img/j-caselles-01_T1-150px.png" alt="">
            </a>
        </div>
        <div class="col-md-7">
            <h3><a href="/instruments/{{instruments.id}}">Bandurria de iniciación.</a></h3>
            by José Caselles (Gata de Gorgos, Alicante).
            <h4> Model:<span> BA-J-Caselles.</span></h4> 
            <h4>Year: 1980</h4>
            <h4>State:</<h4> <span>Buen estado.</span>
            <h3>Price: 190</h3>
            <p> 
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <a href="/instruments/{{instruments.id}}">
                <img class="img-responsive" src="/img/gliga-gems-II_T1-150px.png" alt="">
            </a>
        </div>
        <div class="col-md-7">
            <h3><a href="/instruments/{{instruments.id}}">Guitarra Alhambra de iniciacion.</a></h3>
            by Alhambra S.A. (Muro de Alcoy, Alicante).
            <h4> Model:<span> GA-ALH</span></h4> 
            <h4>Year: 1971</h4>
            <h4>State:</<h4> <span>Presenta dos fisuras tanto en la tapa como en los aros, que han sido selladas por un luthier profesional.</span>
            <h3>Price: 40</h3>
            <p> 
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <a href="/instruments/{{instruments.id}}">
                <img class="img-responsive" src="/img/ga-alh-01_T1-150px.png" alt="">
            </a>
        </div>
        <div class="col-md-7">
            <h3><a href="/instruments/{{instruments.id}}">Guitarra Alhambra de iniciacion.</a></h3>
            by Alhambra S.A. (Muro de Alcoy, Alicante).
            <h4> Model:<span> GA-ALH</span></h4> 
            <h4>Year: 1971</h4>
            <h4>State:</<h4> <span>Presenta dos fisuras tanto en la tapa como en los aros, que han sido selladas por un luthier profesional.</span>
            <h3>Price: 40</h3>
            <p> 
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
</div>

        