 <!-- Pagination -->
 <div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <!-- Show page numbers for pagination -->
            <li class="active">
                <a href="/?page={{i}}&category={{category_param}}">1</a>
            </li>
            <li class="inactive">
                    <a href="/?page={{i}}&category={{category_param}}">2</a>
                </li>
            <li>
                <a href="${previousPageUrl}">Previous Page</a>
            </li>
            <li>
                <a href="${nextPageUrl}">Next Page</a>
            </li>
        </ul>
    </div>
</div>
<div class= "instruments-amoung">
    <i>10 Instruments</i>
</div>
