body {
    background: $color-steady-grey;
    font-family: $main-font-family !important;
    font-size: $font-size-base;
    color: $main-text-color;
    padding-top: 50px;
}

hr {
    border-top: 1px solid $color-my-beats;
}

ul {
    list-style-type: none;
}