
.navbar {
    &.navbar-inverse {
        background-color: $menu-background-color;
        border-color: $menu-text-color;
    }
}

.navbar-toggle {
    border-color: $menu-background-color !important;
    &:hover{
        background-color: $menu-background-color !important;
    }
}

.navbar-brand {
    color: $color-active-link !important;
}

.sign > a {
    color:$menu-text-color !important;
    text-decoration: none;
}
.sign > a:hover {
    color: $color-active-link !important;
}

.btn-default {
    background-color: transparent;
    border-color: transparent;
    color:$color-my-beats;
    
    &:hover{
        background-color: transparent;
        border-color: $color-my-beats;
        color:$color-active-link;
    }
}