// Font families
$main-font-family: 'Roboto Condensed', sans-serif;
$title-font-family: 'Montserrat', sans-serif;
$body-font-family: $main-font-family;

// Font sizes
$font-size-base: 16px;
$font-size-small: $font-size-base - 4px;
$font-size-large: $font-size-base + 4px;
$font-size-h1: $font-size-base + 16px;
$font-size-h2: $font-size-base + 13px;
$font-size-h3: $font-size-base + 10px;
$font-size-h4: $font-size-base + 7px;
$font-size-h5: $font-size-base + 4px;
$font-size-h6: $font-size-base;

// Base colors
$color-storm: #47414F;
$color-sunset-on-moon: #2F4C65;
$color-chance: #645260;
$color-my-beats: #B8B8B8;
$color-steady-grey: #E9E9E9;

// Main components colors
$main-text-color: $color-sunset-on-moon;
$links-color: $color-chance;
$main-background-color: $color-steady-grey;

// Responsive
$mobile-portrait-width: 375px;
$mobile-landscape-width: 667px;
$tablet-portrait-width: 768px;
$tablet-landscape-width: 1024px;

// Forms variables
$form-input-border-color: $color-chance;
$form-input-outline-color: $color-chance;
$form-button-background-color: $color-sunset-on-moon;
$form-button-font-color: $color-steady-grey;
$form-error-background-color: $color-storm;
$form-error-font-color: $color-steady-grey;