.breadcrumb {
    margin-top: 30px;
    margin-bottom: 30px;
}

.list-group-item {
    &.active {
        background-color: $color-sunset-on-moon;
    }
    &.active:hover {
        background-color: $color-storm;
    }
}