<div class="col-sm-10">
    <div class="instruments-list loading">
        <h2>List View or Grid View</h2>
        <p>Click on a button to choose list view or grid view.</p>

        <div id="btnContainer">
            <button class="btn">
                <i class="fa fa-bars"></i>
                List</button>
            <button class="btn active">
                <i class="fa fa-th-large"></i>
                Grid
            </button>
        </div>
        <br>
        <div class="row">
            <div class="article">
                <a href="#" class="article-link link">
                    <div class="image-block">
                        <img class="image" src="" original="{{public/img/instruments.}}" alt="Thomann Student Violinset 4/4">
                    </div>
                </a>
                <div class="body-block">
                    <div class="head-block">
                        <a href="https://www.thomann.de/es/thomann_student_violinset_4_4.htm" class="article-link link">
                            <div class="subtitle-block has-ratings">
                                Set de violín
                            </div>
                            <div class="title-block link-group" data-link-group="378019">
                                <span class="manufacturer">Thomann</span>
                                <span class="model">Student Violinset 4/4</span>
                            </div>
                        </a>
                        <div class="ratings-block has-ratings">
                            <div class="rs-rating-stars">
                                <span class="rs-stars skin-small ">
                                    <span class="background-wrapper">
                                        <span class="inner">
                                            <svg class="rs-icon rs-icon-rating-star star background">
                                                <use xlink:href="/static/icons/icons.svg?v=58#rating-star"></use>
                                            </svg>
                                            <svg class="rs-icon rs-icon-rating-star star background">
                                                <use xlink:href="/static/icons/icons.svg?v=58#rating-star"></use>
                                            </svg>
                                            <svg class="rs-icon rs-icon-rating-star star background">
                                                <use xlink:href="/static/icons/icons.svg?v=58#rating-star"></use>
                                            </svg>
                                            <svg class="rs-icon rs-icon-rating-star star background">
                                                <use xlink:href="/static/icons/icons.svg?v=58#rating-star"></use>
                                            </svg>
                                            <svg class="rs-icon rs-icon-rating-star star background">
                                                <use xlink:href="/static/icons/icons.svg?v=58#rating-star"></use>
                                            </svg></span></span>
                                    <span class="overlay-wrapper" style="width: 90%">
                                        <span class="inner">
                                            <svg class="rs-icon rs-icon-rating-star star overlay">
                                                <use xlink:href="/static/icons/icons.svg?v=58#rating-star"></use>
                                            </svg>
                                            <svg class="rs-icon rs-icon-rating-star star overlay">
                                                <use xlink:href="/static/icons/icons.svg?v=58#rating-star"></use>
                                            </svg>
                                            <svg class="rs-icon rs-icon-rating-star star overlay">
                                                <use xlink:href="/static/icons/icons.svg?v=58#rating-star"></use>
                                            </svg>
                                            <svg class="rs-icon rs-icon-rating-star star overlay">
                                                <use xlink:href="/static/icons/icons.svg?v=58#rating-star"></use>
                                            </svg>
                                            <svg class="rs-icon rs-icon-rating-star star overlay">
                                                <use xlink:href="/static/icons/icons.svg?v=58#rating-star"></use>
                                            </svg></span></span></span><span class="count">18</span>
                            </div>
                        </div>
                        <div class="price-block">
                            <div class="primary">
                                <span class="article-basketlink">69 €</span>
                            </div>
                        </div>
                    </div>
                    <div class="tail-block">
                        <div class="controls-block grid-view">
                            <div class="item comparison">
                                <span class="comparebox-link" rel="378019">Comparar</span>
                            </div>
                            <div class="item add-to-basket">
                                <form method="post" action="https://www.thomann.de/es/basket_add.html">
                                    <input type="hidden" name="ar" value="378019">
                                    <button class="button as-icon" type="submit">
                                        <svg class="rs-icon rs-icon-basket-empty add2cart-icon">
                                            <use xlink:href="/static/icons/icons.svg?v=58#basket-empty"></use>
                                        </svg>
                                    </button>
                                    <div class="tags-block">
                                        <div class="tags"></div>
                                    </div>
                                    <div class="availability-block">
                                        <div class="rs-layover-trigger tr-availability-layover rs-tooltip-ready">
                                            <a href="#">
                                                <div class="tr-prod-availability tr-prod-availability-wvfampel_gruen">
                                                    <img src="https://images.static-thomann.de/pics/n.gif" class="wvfampel-small small-wvfampel_gruen">
                                                    <span class="rs-layover-trigger-text">Disponible en estos momentos</span>
                                                </div>
                                            </a>
                                            <div class="rs-layover" data-status="1">
                                                <strong class="tr-prod-availability-headline-wvfampel_gruen">Disponible en estos momentos</strong>
                                                <p>Este producto está en stock y puede ser enviado inmediatamente</p>
                                                <a style="text-decoration:underline;font-weight:normal;" target="_blank" href="https://www.thomann.de/es/helpdesk_shipping.html">Información sobre envíos</a>
                                                <svg class="rs-icon rs-icon-remove rs-layover-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <use xlink:href="/static/icons/icons.svg?v=58#remove"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column" style="background-color:#aaa;">
                <h2>Column 1</h2>
                <p>Some text..</p>
            </div>
        </div>
    </div>
</div>